@model IEnumerable<ParfumeShop.Models.Parfume>;

<div>
    <h2 class="text-center">Parfume List</h2>

    <div class="mb-2 text-right">
        <a asp-controller="Parfume" asp-action="Upsert" class="btn btn-primary"><i class="fas fa-plus"></i> Create New Parfume</a>
    </div>

    @if (Model.Any())
    {
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Performer</th>
                    <th scope="col">PublishYear</th>
                    <th scope="col">Text</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Parfume parfume in Model)
                {
                    <tr>
                        <td>@parfume.Name</td>
                        <td>@parfume?.Company</td>
                        <td>@parfume.Category.Name</td>
                        <td>@parfume?.Description</td>
                        <td>@parfume.Price</td>
                        <td>
                            <div class="btn-group">
                                <a asp-controller="Parfume" asp-action="Upsert" asp-route-id="@parfume.Id" class="btn btn-secondary"><i class="fas fa-edit"></i> Edit</a>

                                <a asp-controller="Parfume" asp-action="Delete" asp-route-id="@parfume.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>List is empty!</p>
    }
</div>